* :not(title){
  display:block;
}

/* Basic Layout */
.wrapper{
  padding:0px;
  margin:0px;
  box-shadow:2px 4px 10px rgba(0,0,0,.2);
  
}
.popular{
  position:absolute;
  float:left;
  width:100px;
  left:40px;
  top:0;
  bottom:0;
  background:rgba(0,0,0,.1);
  border-left:5px solid rgba(0,0,0,.1);
  border-right:5px solid rgba(0,0,0,.1);
  padding:0px 5px 0px 5px;
}
.information{
  width:50%;
  margin:0 auto;
}
.images{
  position:absolute;
  right:0;
  top:0;
  width:calc(25%);
  
}
/* Popular */
.popular h2{
  position:absolute;
  display:none;
  float:left;
  width:500%;
  transform:rotate(270deg);
  
}
.popular ul{
  
  padding:0px 0px 0px 0px;
}
.popular li{
  border-top:5px solid;
  background-color:white;
  margin-bottom:10px;
  text-align:center;
}
.popular .more{
  border-bottom:2px solid;
  background-color:white;
  margin-top:100px;
}
/* Topic */
.topic{
  text-indent:10px;
  margin:20px 20px 40px 20px;
  background:white;
  box-shadow:inset 2px 2px rgba(0,0,0,.2),inset 100px 0px rgba(100,100,100,.1),
  0px 0px 0px 10px rgba(200,200,200,.1), 4px 4px 10px rgba(0,0,0,.1);
}
.topic h2{
  width:100%;
  margin:0;
  padding:0;
  background-color:rgba(0,0,0,.2);
  text-shadow:1px 1px white, 3px 3px rgba(0,0,0,.1);
}
.topic p{
  padding:0px 10px 10px 10px;
}
.topic p::first-letter{
  font-size:17px;
  font-weight:800;
  color:rgba(0,0,0,.7);
}
/* Images */
.images img{
  height:125px;
}
.image_one{
  float:right;
  margin:40px;
  transform:rotate(20deg);
}
.image_two{
  
  float:left;
  margin-left:20px;
  margin-top:-50px;
}
.image_three{
  position:absolute;
  float:right;
  top:250px;
  left:150px;
  transform:skew(5deg);
}
@media(max-width: 850px){
  .popular{
    display:none;
  }
  .images{
    display:none;
  }
  .information{
    position:relative;
    margin-left:0px;
    width:100%;
  }
}