@charset "utf-8";
/* Author: Devin Miller */

/* Popular */
.popular{
  position:absolute;
  width:150px;
  left:2%;
  top:0;
  bottom:0;
  background:rgba(0,0,0,.1);
  border-left:5px solid rgba(0,0,0,.1);
  border-right:5px solid rgba(0,0,0,.1);
  padding:0px 25px 0px 25px;
}
.popular h2, .options h2{
  text-align:center;
  font-size:12px;
  letter-spacing:1.7px;
}
.more_options{
  margin-top:70px;
}
.popular ul{
  padding:0px;
}
.popular li{
  display:block;
}
.language a{
  display:block;
  border-top:5px solid;
  background-color:white;
  margin-bottom:10px;
  text-align:center;
}
.popular .more{
  display:block;
  padding:5px;
  margin-bottom:5px;
  text-align:center;
  border:1px solid black;
  box-shadow:3px 3px #ff6961;
  margin:0 auto 10px auto;
  background-color:white;
  font-weight:800;
  opacity:.9;
}

/* Information */
.information{
  width:50%;
  margin:0 auto;
}
.topic{
  overflow:hidden;
  margin:20px 20px 40px 20px;
  box-shadow:inset 2px 2px rgba(0,0,0,.2),inset 100px 0px rgba(230,230,230,.13),
  0px 0px 0px 10px rgba(200,200,200,.1), 4px 4px 10px rgba(0,0,0,.1);
}
.topic h2{
  width:100%;
  margin:0px;
  padding:0 0 0 10px;
  background-color:rgba(0,0,0,.2);
  text-shadow:1px 1px white, 3px 3px rgba(0,0,0,.1);
}
.topic p{
  padding:0px 10px 10px 10px;
}

/* Images */
.images{
  position:absolute;
  right:0;
  top:0;
  width:calc(25%);
}
.images img{
  height:125px;
}
.image_one{
  float:right;
  margin:40px;
  transform:rotate(20deg);
}
.image_two{
  float:left;
  margin-left:20px;
  margin-top:-50px;
}
.image_three{
  position:absolute;
  float:right;
  top:250px;
  left:150px;
  transform:skew(5deg);
}

@media only screen and (max-width: 875px){
  .popular{
    padding:0px 0px 0px 10px;
    position:relative;
    left:0;
    border:none;
    margin-bottom:50px;
    width:100%;
    overflow:hidden;
  }
  .options,.more_options{
    display:none;
  }
  
  .popular li{
    box-shadow:none;
    width:100px;
    display:inline-block;
  }
  .popular .more{
    margin:0;
    margin-top:0px;
    margin-left:20px;
    padding:0;
    box-shadow:none;
    background-color:white;
  }
  
  .images{
    display:none;
  }
  
  .information{
    display:block;
    width:100%;
  }
}

@media only screen and (max-width: 580px){
  .popular{
    display:none;
  }
}