.main{
    word-wrap:break-word;
}
pre{
    background-color:rgba(240,240,240,.9);
    width:300px;
    padding:10px;
    box-shadow:inset 4px 4px 10px rgba(0,0,0,.2);
}
samp{
    background-color:white;
    box-shadow:2px 2px 10px rgba(0,0,0,.2);
    padding:10px;
}
.resources{
    margin-left:50px;
    margin-bottom:25px;
    width:60%;
    padding:10px;
    margin-top:40px;
}
.resources .topic{
    border-top:10px solid rgba(0,0,0,.1);
    padding:3px 20px 20px 20px;
    margin-bottom:10px;
    box-shadow:1px 1px 0px rgba(0,0,0,.3),5px 5px 10px rgba(0,0,0,.1), inset 0px 0px 0px 10px rgba(200,200,200,.1);
}
.about{
    
    background-color:white;
    
}
.example{
    width:80%;
    margin-left:-10px;
    background-color:rgb(240,240,240);
    
}
.links{
    margin-left:10px;
    background-color:rgba(255,105,97,.3);
    background:white;
}
.right{
    float:right;
}

.information,.alert{
    margin-right:50px;
    margin-top:75px;
    width:200px;
    background-color:rgb(240,240,240);
    box-shadow:4px 4px 10px rgba(0,0,0,.2), 0px 0px 0px 10px rgba(100,100,100,.1);
    border:1px black solid;
    text-align:center;
    
}

/* Alert card */
.alert{
    font-size:14px;
    font-weight:bold;
    position:relative;
    display:block;
    background: -webkit-radial-gradient(bottom left,rgba(193,39,45,1),rgba(193,39,45,.8),rgba(193,39,45,.7));
    background: radial-gradient(at bottom left,rgba(193,39,45,1),rgba(193,39,45,.8),rgba(193,39,45,.5));
}
.alert p{
    /* strange fix for underline under p */
    display:inline-block;
    color:white;
}
.alert:hover{
    background:rgba(193,39,45,.5);
}
.alert:hover img{
    opacity:.6;
}

/* Information card */
.image_container{
    box-shadow:0px 4px 10px rgba(0,0,0,.2);
    border-bottom:5px solid rgba(200,200,200,.3);
    padding-top:10px;
    padding-bottom:10px;
    background-color:rgb(237,237,237);
}
.information ul{
    list-style-type:none;
}
.information li{
    margin:10px;
    line-height:28px;
    
}
.information b{
    padding:2px;
    margin-right:10px;
    box-shadow:1px 1px 3px rgba(0,0,0,.2);
}


/* Resources */
ul{
    list-style-type:circle;
    text-indent:none;
    text-align:left;
    margin:0;
    padding:0;
}
.resources li{
    margin:10px;
    
}

.mobile{display:none;}


@media only screen and (max-width: 900px){
    .resources{
        clear:right;
        margin:0;
        padding:10px;
        width:calc(100% - 20px);
        
    }
    .right{
        float:none;
        width:100%;
        
    }
    .information, .alert{
        margin:10px;
        width:calc(50% - 30px);
        height:100%;
        position:relative;
        display:inline-block;
    }
    table{
        float:none;
        width:100%;
    }
}


@media only screen and (max-width: 580px){
    pre{
        width:calc(100% - 10px);
    }
    .information, .alert{
        width:calc(100% - 30px);
        display:block;
    }
    iframe{
        display:none;
    }
    .mobile{
        display:block;
    }
    
}
