@charset "utf-8";
/* Author: Devin Miller */

header, nav, footer,iframe,.images{
    display:none;
}
img{
    max-width:200px;
    position:relative;
    float:none;
    display:block;
}
*{
    background-color:white;
    border:none;
    box-shadow:none !important;
    margin:0 !important;
    padding:0 !important;
}

.mobile,tfoot{
    display:block;
}
p{
    width:100%;
    font-size:12pt;
}
h2{
    font-size:17pt;
}
