@charset "utf-8";
/* Author: Devin Miller */

.languages{
    width:100%;
    margin-top:10px;
}

h2{
    text-indent:20px;
    background-color:rgba(100,100,100,.1);
    width:100%;
}

.language_selection{
    width:calc(50% - 45px);
    display:inline-block;
    background-color:rgb(122, 160, 179);
    background-color:rgba(0,0,0,.1);
    padding:5px 20px 20px 20px;
    box-shadow:2px 2px 10px rgba(0,0,0,.1),inset 0px 0px 2px 10px rgba(100,100,100,.1);
    overflow:auto;
    height:400px;
}

li{
    display:inline-block;
    width:100px;
    margin-bottom:10px;
}
li a{
    display:block;
    text-decoration:none;
    background-color:white;
    text-align:center;
    width:100%;
    height:30px;
    line-height:30px;
    font-weight:700;
    font-size:15px;
    border:1px solid rgba(0,0,0,.4);
    border-top:5px solid;
}

li:nth-child(4n+1){
    clear:left;
}

@media only screen and (max-width: 1111px){
    .languages{
        width:100%;
        position:relative;
    }
    .language_selection{
        height:auto;
    }
}
@media only screen and (max-width: 880px){
    .language_selection{
        padding:10px 0px 20px 0px;
        display:block;
        width:auto;
        margin-bottom:40px;
    }
    
    h2{
        width:calc(100% - 20px);
        margin:0 auto;
        text-indent:0px;
    }
}