html{
  padding:0px;
  margin:0px;
  font-family:"Open Sans", sans-serif;
}
body{
  width:100%;
  padding:0px;
  margin:0px;
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
  url("../images/background.jpg");
}

.top_nav{
  height:40px;
  background-color:rgb(230,230,230);
  box-shadow:0px 2px 12px rgba(0,0,0,.7);
}
.top_nav a{
  display:inline-block;
  text-decoration:none;
  padding-top:10px;
  -webkit-transition:4s all;
  transition:4s all;
}
a:link{
  color:black;
}
a:visited{
	color:rgba(0,0,0,.6);
}
a:hover{
	-webkit-transition:.2s all;
	transition:.2s all;
	color:rgba(0,0,150,.7);
}
.left_nav{
  float:left;
  padding-left:10px;
}
.right_nav{
  float:right;
  padding-right:10px;
}
.right_nav a{
  margin-right:10px;
}
header{
  width:100%;
  padding:0px;
  height:100px;
  margin:0 auto;
  margin-top:0px;
  text-align:center;
  
  box-sizing:border-box;
  background:linear-gradient(rgba(0,0,0,.66),rgba(0,0,0,.7));
  
  overflow:hidden;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,.3),inset 0px 0px 2px black;
  position:relative;
  z-index:2;
}
header h1{
  font-size:40px;
  padding-top:-10px;
  float:top;
  color:white;
  text-shadow:2px 2px black;
  
}
.main{
  width:100%;
  padding:5px;
  box-sizing:border-box;
  position:relative;
  z-index:1;
  background-color:white;
  overflow:auto;
}
footer{
  width:100%;
  background:linear-gradient(rgb(230,230,230),rgba(220,220,220,.5));
  overflow:auto;
  position:relative;
}
footer *{
  display:inline-block;
}
footer a{
  margin-top:20px;
  margin-left:10px;
  font-size:14px;
}
footer p{
  font-size:12px;
  float:right;
  font-weight:300;
  margin-right:20px;
  margin-top:22px;
}
footer img{
  width:150px;
  margin:10px;
  float:left;
  padding:2px;
  background-color:black;
  border:4px solid white;
  
}

@media(min-width: 1300px){
  .left_nav{
    padding-left:40px;
  }
  .right_nav{
    padding-right:40px;
  }
  
  .wrapper{
    width:1300px;
    margin:0 auto;
  }
}